body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.header{
    background-color: #1F2937;
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    
}
.headerLinks{
   display: flex;
   gap: 30px;
}
.logo{
    font-weight: 700;
}
.headline{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    padding: 0;
  
    
}
.headline-text{
    display: flex;
    flex-direction: column;
    
    width: 390px;
    padding: 80px 50px;
}
.title
{
   font-size: 48px;
   font-weight: bolder; 
   color: #F9FAF8;
}
.subtext
{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    background-color: #3882F6;
    color: white;
    margin-top: 20px;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: transparent;
    
    
}
.infomation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    gap: 30px;
}
.info-title{
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}
.cards{
    display: flex;
    align-items: center;
    gap: 90px;
}
.placeholder{
    border: 3px solid #3882F6 ;
    border-radius: 5px;
    width: 100px;
    height: 100px;

}
.image-subtext{
    width: 100px;
    text-align:center;
    
    
}
.qoutediv{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.quote{
    font-size: 36px;
    padding: 80px 140px;
    width: 600px; 
    font-weight: lighter;
    font-style: italic;
    display: flex;
    flex-direction: column;
}
.qouter-name{
    font-style: italic;
    font-weight: 800;
    align-self: flex-end;
    font-size: 19px;
}
.call-to-action-container{
    background-color: #3882F6;
    width: 700px;
    border-radius: 5px;
    align-self:center;
    display: flex;
    padding: 30px;
    margin: 100px;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.call-to-action-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.call-title{
    font-weight: bold;
}
.call-to-action
{
    font-weight: lighter;
}

.call-button
{
    border: 1px solid white;
    border-radius: 5px;
    
}
.footer{
    background-color: #1F2937;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
  
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
